* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #FAFBFD;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 3rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 200px;
}

@media(min-width: 1560px) {
  .header {
    padding: 3rem 12rem ;
  }
}

.header > ul a {
  background: #4285F4;
  border-radius: 5px;
  padding: 0.825rem 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.14rem;

  transition: 0.2s ease-in-out;
}

.header > ul a:hover {
  background: #5b93f0;
}

.menu ul {
  display: flex;
}

.menu li a {
  font-size: 0.875rem;
  font-weight: bold;
  color: #222;
  letter-spacing: 0.14em;
}

.menu li + li { 
  margin-left: 40px;
}

.down-right {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: #EC5863;
  border-radius: 50px 0 0 50px;

  display: flex;
  justify-content: center;
}

@media(min-width: 1560px) {
  .down-right {
    width: 480px;
  }
}

/* PRESENTATION */

.presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  margin: 3rem 6rem;
}

@media (min-width: 1560px) {
  .presentation {
    margin: 3rem 12rem;
  }

  .presentation img {
    width: 680px;
  }
}

.started {
  display: flex;
  flex-direction: column;
}

.started h1 {
  width: 500px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 126%;
}

.started h1 span {
  color: #4285F4;
}

.started > p {
  width: 400px;
  color: #616161;
  font-size: 1rem;
  margin-top: 0.75rem;
}

.started a {
  width: 174px;
  height: 40px;
  padding: 0.875rem 1.875rem;
  background: #EC5863;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.14em;
  color: #fff;
  text-align: center;
  margin-top: 1.5rem;

  transition: 0.2s ease-in-out;
}

.started a:hover {
  opacity: 0.8;
}

.started .play-video {
  display: flex;
  align-items: center;

  margin-top: 10rem;
}

.started .play-video img {
  width: 55px;
}

.started .play-video div {
  margin-left: 0.75rem;
}

.started .play-video h2 {
  color: #B0B0B0;
  font-size: 1.25rem;
  font-weight: normal;
}

.started .play-video span {
  display: block;
  color: #000;
  font-size: 0.82rem;
  margin-top: 0.3125rem;
}

/* EXPERIMENT */

.experiment-app {
  height: 100vh;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 12rem;
}

@media (min-width: 1560px) {
  .experiment-app {
    padding: 3rem 24rem;
  }
}

.experiment-app .features-app {
  display: flex;
  flex-direction: column;
}

.experiment-app .features-app h1 {
  width: 400px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 126%;
}

.experiment-app .features-app h1 span { 
  color: #EC5863;
}

.experiment-app .features-app > p  { 
  width: 500px;
  font-family: 'Rubik', sans-serif;
  font-size: 0.875rem;
  color: #616161;
  line-height: 138.5%;
  letter-spacing: 0.08em;

  margin-top: 0.75rem;
}

.experiment-app .features-app a { 
  width: 174px;
  height: 40px;
  padding: 0.875rem 1.875rem;
  background: #EC5863;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.14em;
  color: #fff;
  text-align: center;
  margin-top: 1.5rem;

  transition: 0.2s ease-in-out;
}


.experiment-app .features-app a:hover { 
  opacity: 0.8;
}

/* TALK EXPERTS */

.talk-experts {
  height: 100vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (min-width: 1560px) {
  .talk-experts {
    margin: 3rem 12rem;
  }
}

.talk-experts header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.talk-experts header img {
  width: 900px;
}

.talk-experts header .data {
  position: absolute;
  width: 756px;
  height: 117px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
}

 .talk-experts header .data ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.talk-experts header .data ul li {
  padding: 30px;
  text-align: center;
}

.talk-experts header .data ul li p {
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  font-size: 2.25rem;
  letter-spacing: 0.14em;
  line-height: 2.6875rem;
  color: #EC5863;
}

.talk-experts header .data ul li span {
  font-family: 'Rubik', sans-serif;
  font-size: 0.6875;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  line-height: 0.8125rem;
  margin-top: 0.625rem;
}

.talk-experts .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
}

.talk-experts .features .features-text {
  display: flex;
  flex-direction: column;
}

.talk-experts .features .features-text h1 {
  width: 400px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 126%;
}

.talk-experts .features .features-text h1 span {
  color: #587EEC;
}

.talk-experts .features .features-text p  { 
  width: 500px;
  font-family: 'Rubik', sans-serif;
  font-size: 0.875rem;
  color: #616161;
  line-height: 138.5%;
  letter-spacing: 0.08em;

  margin-top: 0.75rem;
}

.talk-experts .features img {
  width: 900px;
}

.talk-experts .features a { 
  width: 174px;
  height: 40px;
  padding: 0.875rem 1.875rem;
  background: #EC5863;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.14em;
  color: #fff;
  text-align: center;
  margin-top: 1.5rem;

  transition: 0.2s ease-in-out;
}

.talk-experts .features a:hover { 
  opacity: 0.8;
}

/* HEALTHCARE */

.healthcare {
  height: 90vh;
  background: #fff;
  padding: 3rem 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.healthcare .healthcare-text h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 126%;
}

.healthcare .healthcare-text h1 span {
  color: #EC5863;
}

.healthcare .healthcare-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.healthcare .healthcare-text p {
  width: 700px;
  font-family: 'Rubik', sans-serif;
  font-size: 0.875rem;
  color: #616161;
  line-height: 138.5%;
  letter-spacing: 0.08em;

  margin-top: 0.75rem;
}

.healthcare .health-details {
  display: flex;
  gap: 4rem;
  margin-top: 8rem;
}

.healthcare .health-details article {
  width: 280px;
  height: 278px;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.healthcare .health-details article h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  margin-top: 3.625rem;
}

.healthcare .health-details article p {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #616161;
}


.download-app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.download-app a {
  margin: 2rem;
}