* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #FAFBFD;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 3rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 200px;
}

@media(min-width: 1560px) {
  .header {
    padding: 3rem 12rem ;
  }
}

.header > ul a {
  background: #4285F4;
  border-radius: 5px;
  padding: 0.825rem 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.14rem;

  transition: 0.2s ease-in-out;
}

.header > ul a:hover {
  background: #5b93f0;
}

.menu ul {
  display: flex;
}

.menu li a {
  font-size: 0.875rem;
  font-weight: bold;
  color: #222;
  letter-spacing: 0.14em;
}

.menu li + li { 
  margin-left: 40px;
}

.down-right {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: #EC5863;
  border-radius: 50px 0 0 50px;

  display: flex;
  justify-content: center;
}

@media(min-width: 1560px) {
  .down-right {
    width: 480px;
  }
}

/* PRESENTATION */

.presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  margin: 3rem 6rem;
}

@media (min-width: 1560px) {
  .presentation {
    margin: 3rem 12rem;
  }

  .presentation img {
    width: 680px;
  }
}

.started-text {
  display: flex;
  flex-direction: column;
}

.started-text h1 {
  width: 500px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 126%;
}

.started-text h1 span {
  color: #4285F4;
}

.started-text > span {
  width: 400px;
  color: #616161;
  font-size: 1rem;
  margin-top: 0.75rem;
}

.started-text a {
  width: 174px;
  height: 40px;
  padding: 0.875rem 1.875rem;
  background: #EC5863;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.14em;
  color: #fff;
  text-align: center;
  margin-top: 1.5rem;

  transition: 0.2s ease-in-out;
}

.started-text a:hover {
  opacity: 0.8;
}

.started-text .play-video {
  display: flex;
  align-items: center;

  margin-top: 10rem;
}

.started-text .play-video img {
  width: 55px;
}

.started-text .play-video div {
  margin-left: 0.75rem;
}

.started-text .play-video h2 {
  color: #B0B0B0;
  font-size: 1.25rem;
  font-weight: normal;
}

.started-text .play-video span {
  display: block;
  color: #000;
  font-size: 0.82rem;
  margin-top: 0.3125rem;
}

/* EXPERIMENT */

.experiment-app {
  height: 100vh;
  background: #fff;
}